<div style="background-color:#f7f7f7;border-top:1px solid #ececec;margin-top:80px">
    <div class="container" style="height:160px;padding-top:10px">
        <!--
        <div style="float:right;text-align:right">
            <a class="btn btn-default fb-button"><i class="icon icon-share"></i> Send Us Feedback</a>
            <div style="clear:both"></div>
            <div class="send-feedback" style="margin-top:10px;display:none">
                <textarea style="width:400px;height:50px"></textarea>
                <div class="btn-toolbar">
                    <button class="btn btn-success feedback-send">Send</button>
                    <button class="btn btn-default feedback-no">Cancel</button>
                </div>
            </div>
        </div>
        -->
        {{view "online_indicator" context=context}}
    </div>
</div>
